#backgroundPane {
    -fx-background-image: url("../images/background.png");
}

.toggle-button {
    -fx-background-image: url("../images/off.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-background-image: url("../images/on.png");
}

.monitor {
    -fx-image: url("../images/monitor.png");
}

#vumeterImageView {
    -fx-image: url("../images/vumeter.png");
}

#offair {
    -fx-image: url("../images/off-air.gif");
}

#onair {
    -fx-image: url("../images/on-air.gif");
}

#previewImageView {
    -fx-image: url("../images/no-image.png");
}

#currentSlideImageView {
    -fx-image: url("../images/no-image.png");
}

#nextSlideImageView {
    -fx-image: url("../images/no-image.png");
}

/* Standard buttons */
.button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/button48.png");
}

.button:pressed {
    -fx-background-image: url("../images/button-pressed48.png");
}

/* Preset button */
.preset {
    -fx-background-image: url("../images/button48.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.preset:selected {
    -fx-background-image: url("../images/button-pressed48.png");
}