
#currentSlideImageView {
    -fx-alignment: center;
}

#preparedSlideImageView {
    -fx-alignment: center;
}

.shadowed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#next1SlideImageView {
    -fx-alignment: center;
}

#next2SlideImageView {
    -fx-alignment: center;
}

#next3SlideImageView {
    -fx-alignment: center;
}
